.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.firstDiv {
    /* border: 20px solid gray; */
    /* box-shadow: inset 0px 0px 0px 10px red; */
    /* margin-bottom: 10px; */
    padding: 10px 10px 10px 20px;
}